@charset "UTF-8";
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196f3 */
/* белый цвет #FFFFFF */
/* цвет фона подвала #2f303a */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  /* other */
  --time-for-hover: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.hero__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.logo:focus {
  color: #212121;
}

.site__nav .link:hover, .site__nav .link:focus {
  color: var(--accent-color);
}

.current:hover::after {
  opacity: 1;
}

.site__nav--price:not(:last-child) {
  margin-right: 50px;
}

.site__contact--adress:hover, .site__contact--adress:focus {
  color: var(--accent-color);
}

.site__contact--adress:hover .site__contact--icon,
.site__contact--adress:focus .site__contact--icon {
  fill: var(--accent-color);
}

.service {
  padding: 200px 0 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/studio/overlay-block-services.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/studio/overlay-block-services.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.service__btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  padding: 8px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--white-color);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-color);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

.modal__close {
  cursor: pointer;
}

.form__title {
  padding-top: 40px;
  padding-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form__modal {
  padding-right: 40px;
  padding-left: 40px;
}

.form__author {
  position: relative;
  margin-bottom: 10px;
}

.form__author:hover .form__icon,
.form__author:focus .form__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__author input {
  margin-top: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__author input:hover, .form__author input:focus {
  border-color: var(--accent-color);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__author input:focus-visible {
  border-color: var(--accent-color);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__icon {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 18px;
  height: 18px;
}

.form__author textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
}

.form__textarea {
  margin-top: 5px;
  padding-top: 12px;
  padding-left: 16px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:hover, .form__textarea:focus {
  border-color: var(--accent-color);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 52px 20px 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../img/icon/square.svg);
}

.check__input:checked + .check__box {
  background-image: url(../img/icon/icon-check.svg);
}

.check__terms--text {
  margin-left: 4px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-left: 56px;
}

.organization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.organization__price {
  width: 270px;
}

.organization__price:not(:last-child) {
  margin-right: 30px;
}

.org__icon::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: content;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url("../img/icon/antenna.svg");
}

.icon-clock::before {
  background-image: url("../img/icon/clock.svg");
}

.icon-diagram::before {
  background-image: url("../img/icon/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../img/icon/astronaut.svg");
}

.organization__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
}

.organization__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.classes {
  padding-top: 0px;
}

.classes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classes__price:not(:last-child) {
  margin-right: 30px;
}

.classes__meta {
  position: relative;
}

.classes__out {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.partners__price:not(:last-child) {
  margin-right: 30px;
}

.partners__price:hover .partners__link,
.partners__price:focus .partners__link {
  border: 1px solid var(--accent-color);
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.partners__link:hover .partners__icon,
.partners__link:focus .partners__icon {
  fill: var(--accent-color);
}

.partners__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.gallery__button:not(:last-child) {
  margin-right: 8px;
}

.promo__btns {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 20px;
  font-family: Roboto, cursive;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.promo__btns:hover, .promo__btns:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__list {
  margin-bottom: 30px;
  margin-right: 30px;
}

.portfolio__list:nth-child(3n) {
  margin-right: 0;
}

.portfolio__list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio__site {
  display: block;
  width: 370px;
  height: 404px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  color: var(--title-text-color);
}

.portfolio__site:hover, .portfolio__site:focus {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__site:hover .portfolio__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.widget {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.widget__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.widget__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.page__footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__container {
  display: block;
  margin-right: 70px;
}

.footer__logo--text {
  color: var(--white-color);
}

.address__list {
  width: 220px;
  margin-top: 20px;
}

.adress__price:not(:last-child) {
  margin-bottom: 9px;
}

.page__card {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}

.page__adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  color: rgba(255, 255, 255, 0.6);
}

.page__adress:hover, .page__adress:focus {
  color: var(--accent-color);
}

.footer__hero--name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials--item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__socials--link:hover, .footer__socials--link:focus {
  background-color: var(--accent-color);
}

.footer__socials--icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--time-for-hover);
          transition-duration: var(--time-for-hover);
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  fill: var(--white-color);
}

.footer__socials--icon:hover,
.footer__socials--icon:focus .socials-icon {
  fill: var(--white-color);
}

.form {
  margin-left: 93px;
}

.footer__form--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form--email {
  margin-right: 12px;
  padding-left: 15px;
  width: 358px;
  height: 50px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__hero--text {
  display: inline-block;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.footer__form--send {
  position: absolute;
}
/*# sourceMappingURL=main.css.map */