.header {
    padding: 24px 0 24px 0;
    border-bottom: 1px solid #ECECEC;
    
    @media screen and (max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        padding: 21px 0px;
    }

    @media screen and (min-width: 1200px) {
        padding: 24px 0px;
    }
    
}

.header__container {
    display: flex;
    align-items: center;

    
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
   
    color: var(--accent-color);
    
    &:focus {
            color: #212121;
        }
}

.header__logo {
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;

        font-size: 26px;
        line-height: 1.19;
    }
}

.header__logo--text {
    color: var(--title-text-color);
}

.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.site__nav {
    
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.site__nav .link {


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site__nav .current {
    
}

.site__nav--item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.current {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -31px;

        display: block;
        width: 100%;
        height: 4px;

        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

.site__nav--price {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site__contact {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 30px;
    }
}

.site__contact--item {
   
}

.site__contact--adress {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14; 
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

        &:hover .site__contact--icon,
        &:focus .site__contact--icon {
            fill: var(--accent-color);
        }
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}



.site__contact-icon {
        fill: currentColor;
    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
}

.icon-mail {
    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
}

.icon-tell {
    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
}

.burger__btn {
    position: relative;
    z-index: 110;

    padding: 0;
    margin: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    
    @media screen and (min-width: 768px){ 
        display: none;
    }
}

.burger__icon {

    .burger__btn:hover &,
    .burger__btn:focus & {
        fill: var(--accent-color);
    }
}

.burger__open {
    .burger__btn.is-open &{
        display: none;
    }
}

.burger_close {
    display: none;
    .burger__btn.is-open & {
        display: block;
    }
}

.mobile__menu {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    padding: 48px 40px;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateX(100%);
    transition-duration: var(--time-for-hover);
    transition-timing-function: var(--time-function);
    background-color: var(--white-color);

    
    &.is-open {
        transform: translateX(0);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}



.mobile__nav {
    margin-bottom: auto;
}

// .mobile__nav-list {}

.mobile__nav-item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;

    color: #212121;

    &:active {
        color: var(--accent-color);
    }

}

.current {
    color: var(--accent-color);
}

.mobile__contact {
    margin-bottom: 64px;
}

.mobile__contact-item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile__contact-link--big {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;

   
    color: var(--accent-color);
}

.mobile__contact-link--small {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;

    color: var(--title-text-color);
}

.mobile__social {
    display: flex;
    flex-wrap: wrap;
}

.mobile__social-item {
    display: flex;

    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 22px;
        margin-left: 10px;  
                    
        background-color: rgba(33, 33, 33, 0.2);
    }

        &:not(:last-child) {
            margin-right: 10px;
        }
}

.mobile__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    
    color: var(--accent-color);
}