.form__title {
    margin-bottom: 12px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.16;
    text-align: center;

    color: var(--title-text-color);
}

.form__modal {
    
}

.form__author {
    position: relative;
    margin-bottom: 10px;

        &:hover .form__icon,
        &:focus .form__icon {
            fill: var(--accent-color);
        
            border-color: var(--accent-color);
        
            transition-property: fill, border-color;
            transition-duration: var(--time-for-hover);
            transition-timing-function: var(--time-function);
        }
}

.form__author input {
    margin-top: 4px;
    width: 100%;
    padding: 11px 11px 11px 42px;
    // height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: none;

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    
        transition-property: border-color;
        transition-duration: var(--time-for-hover);
        transition-timing-function: var(--time-function);
    }

        &:focus-visible {
            border-color: var(--accent-color);
        
            transition-property: border-color;
            transition-duration: var(--time-for-hover);
            transition-timing-function: var(--time-function);
        }
}

.form__name {
    display: flex;
    padding-bottom: 3px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: var(--primary-text-color);
}

.form__icon {
    position: absolute;

    top: 36px;
    left: 14px;
}

.form__author textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea {
    resize: none;
    width: 100%;
    height: 120px;
}

.form__textarea {
    margin-top: 5px;

    padding-top: 12px;
    padding-left: 16px;

    outline: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    
        transition-property: border-color;
        transition-duration: var(--time-for-hover);
        transition-timing-function: var(--time-function);
    }
}



.check {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;

    color: rgb(117, 117, 117);

    @media screen and (min-width: 1200px) {
        justify-content: center;
        font-size: 14px;
    }
}


.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    width: 16px;
    height: 15px;

    background-image: url(../img/icon/square.svg);

    
}

.check__input:checked+.check__box {
    background-image: url(../img/icon/icon-check.svg);
}

.check__terms--text {
    text-decoration: underline;
    cursor: pointer;
    color: var(--accent-color);
}


.form__button {
    display: flex;
    align-items: center;

    margin: auto;
    padding-left: 55px;
    border: none;
}