.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;  
}

.partners__price {
    
    @media screen and (min-width: 480px) {
        flex-basis: 210px;
    }

    

    @media screen and (min-width: 768px) {
        flex-basis: 226px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 170px;
    }
        &:hover .partners__link,
        &:focus .partners__link {
            border: 1px solid var(--accent-color);
        }
}

.partners__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: #fff;

    transition-property: border;
    transition-duration: var(--time-for-hover);
    transition-timing-function: var(--time-function);

    &:hover .partners__icon,
    &:focus .partners__icon {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 480px) {
        // width: 170px;
    }
}

.partners__icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: var(--time-for-hover);
    transition-timing-function: var(--time-function);
}

