.service {
    padding: 118px 0 118px 0;
    text-align: center;
    background-color: #2f303a;
}

.overlay {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/studio/overlay-block-services.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service__title {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    

    text-transform: uppercase;

    color: var(--white-color);
}

.service__btn {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    padding: 8px 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--white-color);
    background-color: var(--accent-color);
}