body {
    font-family: Roboto, serif;
    letter-spacing: 0.03em;

    background-color: var(--white-color);
    color: var(--title-text-color);

    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

// почистить
// .list {
//     list-style: none;
//     padding-left: 0;
//     margin-top: 0;
//     margin-bottom: 0;
// }

.hero__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    color: var(--title-text-color);
}